.ssb-session-info{

  .animation {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }
  .info-list{
    list-style-type: none;
    padding-left: 0;
    list-style-position: inside;
  }
  .session-summary{
    text-align: right;
    .money-span{
      color: #ad2102;
    }
    .money-span::before{
      content: "￥";
    }
  }
  .action-bar{
    margin-top: 10px;
  }

}